footer{
	margin: 0% 10%;
	width: 80%;
	border-radius: 15px;
	border: solid;
	border-color: black;
}

h2{
	font-size: 48px;
}

.body {
	max-width: 75%;
	margin: auto;
	margin-bottom: 45px;
}

.menu {
	width: 100%;
	height: 550px;
	background-image: url("src/assets/images/menu2.jpeg");
	background-repeat: no-repeat;
	position: relative;
	background-size: 100%;
	background-position: center;
	text-align: center;
	border-radius: 15px;
	border: solid;
	border-color: black;
	margin: 7% 0% 10% 0%;
}

.menu img {
	margin-top: 2%;
	width: 25%;
}

.part2_menu {
	margin-top: 3%;
	margin-left: 2.5%;
	background-color: #adc0acd1;
	width: 95%;
	color: #36543A;
	border-radius: 15px;
	border: solid;
	border-color: black;
	padding: 20px;
}

.part2_menu h2{
	padding-bottom: 2%;
    width: fit-content;
    border-bottom: 1px solid black;
    margin: auto;
}

.locais_menu {
	padding-top: 2%;
}

.locais_menu a{
	text-decoration: none;
	cursor: pointer;
	font-size: 28px;
	padding-right: 10px;
	color: #000000;
}

.locais_menu a:hover{
	color: #D5FFB6;
}

#conteudo img{
	border-radius: 15px;
	border: solid;
	border-color: black;
}

#carouselExampleCaptions{
	width: 100%;
	height: 90%;
} 

#cadastro a{
	text-decoration: none;
	cursor: pointer;
	font-size: 20px;
	padding-right: 10px;
}