<div class="body">
    <div class="menu">
        <div class="part1_menu">
            <img src="assets/images/logo1.png">
        </div>
        <div class="part2_menu">
            <h2>Qual o seu proximo destino?</h2>

            <div class="locais_menu">
                <a href="https://www.instagram.com/p/CWGjjtiP9Yp/" target="_blank">
                    Bahia •
                </a>

                <a href="https://www.instagram.com/p/CWGjPZ8JyIZ/" target="_blank">
                    Goiás •
                </a>

                <a href="https://www.instagram.com/p/CWGijoKpt7j/" target="_blank">
                    Minas Gerais •
                </a>

                <a href="https://www.instagram.com/p/CWGibR5Jk7l/" target="_blank">
                    Rio de Janeiro •
                </a>

                <a href="https://www.instagram.com/p/CWGiK1up7Qu/" target="_blank">
                    Santa Catarina •
                </a>

                <a href="https://www.instagram.com/p/CWGiBSFpnfa/" target="_blank">
                    São Paulo
                </a>
            </div>
        </div>
    </div>

    <div id="conteudo">
        <!-- cola aqui  -->

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/images/bahia.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Bahia</h5>
                        <p>Pelourinho</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/images/goias.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Goiás</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/images/minas.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Minas Gerais</h5>
                        <p>Belo Horizonte</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/images/rio.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Rio de Janeiro</h5>
                        <p>Arpoador</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="assets/images/santa.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Santa Catarina</h5>
                        <p>Caminhos da Fronteira</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="assets/images/sao.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>São Paulo</h5>
                        <p>Arena Paumeiras</p>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>

</div>
<section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: rgb(54,84,58, 0.8);">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3">Registre-se de graça!</span>
                    <a href="#" id="cadastro">
                        <button type="button" class="btn btn-outline-light btn-rounded">

                            Cadastrar-se

                        </button>
                    </a>
                </p>
            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright -
            <a class="text-white" href="https://www.instagram.com/projetoexploraai/" target="_blank">Explora Aí -
                TV</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>
<!--
</body>

</html> -->