<div *ngIf="false">
    <b>You Already Have a Record!</b>
  </div>
  <div  *ngIf="true">
    <div >
      <b>Make Your Registration</b>
    </div>
  
    <form [formGroup]="formRegistration" #form="ngForm">
  
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input formControlName="name" type="text" class="form-control" id="inputPassword">
        <small *ngIf="formRegistration.get('name')?.invalid" class="text-danger"> Name is Obligated! </small>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input  formControlName="email" type="text"  class="form-control" id="staticEmail" value="">
        <small *ngIf="formRegistration.get('email')?.invalid" class="text-danger" > Email is Obligated! </small>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label"> Birth Date </label>
      <div class="col-sm-10">
        <input  formControlName="date" type="date" class="form-control" id="inputPassword">
        <small *ngIf="formRegistration.get('date')?.invalid"  class="text-danger"> Put a Valid Date! </small>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" formControlName="password" class="form-control" id="inputPassword" maxlength="8">
        <small  *ngIf="formRegistration.get('password')?.invalid" class="text-danger" > Put a Valid Password! </small>
      </div>
    </div>
    <button  (click)="register();checkDate()" class="btn text-white bg-primary">Register</button>
  </form>
  </div>